<div class="container py-4">
  <div class="row">
    <div class="col">
      <product-form [product]="productSelected"
                    (addProductEvent)="addProduct($event)"></product-form>
    </div>
    <div class="col">
      <table-product [products]="products"
      (updateProductEvent)="updateProduct($event)"
      (removeProductEvent)="removeProduct($event)"></table-product>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <pre>{{ msg | json }}</pre>  <!-- 'msg' se muestra como un JSON formateado -->
    </div>
  </div>
</div>
